<div
  class="js-users-show"
  data-notice="<%= notice %>"
  data-name="<%= @user.name %>"
  data-email="<%= @user.email %>"
  data-edit-user-path="<%= edit_user_path(@user) %>"
  data-users-path="<%= users_path %>"
></div>
